@use "@/styles/variables" as *;
@use "@/styles/global" as *;
@use "@/styles/text" as *;
@use "@/styles/breakpoints" as *;

.categories {
  padding: 50px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: $align-center;
  background-color: $lightgrey;
  font-family: $main-font;

  @include sm {
    padding: 50px 20px;
  }

  h1 {
    color: $blue;
    @include heading-xl;
    font-weight: $font-extrabold;
    margin-bottom: 15px;
  }

  p {
    max-width: 700px;
    @include body-lg;
    line-height: $line-relaxed;
  }

  .categories_list {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0;
    justify-content: center;
    gap: 25px;

    a {
      text-decoration: none;
    }

    .category {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 290px;
      height: 290px;
      cursor: pointer;

      img {
        position: absolute;
        width: 100%;
        height: 100%;
      }

      .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.55);
        transition: 0.3s ease-in-out;
      }

      &_text {
        position: relative;
        color: white;
        z-index: 2;
        text-align: $align-center;

        &_icon {
          @include heading-xl;
          margin-bottom: 10px;
        }

        p {
          font-weight: $font-semibold;
          @include body-md;
        }
      }

      &:hover {
        .overlay {
          width: 80%;
          height: 80%;
        }
      }

    }
  }
}
