@use "@/styles/variables" as *;
@use "@/styles/global" as *;
@use "@/styles/text" as *;

.hotel-description {
  margin-bottom: 0;
  background-color: white;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);

  h2 {
    @include heading-md;
    margin: 0 0 14px;
    color: $text-medium;
  }

  p {
    margin: 0;
    @include body-base-alt;
    line-height: $line-relaxed;
    color: $text-medium-alt;
  }
}
