@use "@/styles/variables" as *;
@use "@/styles/global" as *;
@use "@/styles/text" as *;

.hotel-detail-container {
  max-width: 1200px;
  margin: 30px auto;
  padding: 0 20px;

  .loading, .error-message {
    text-align: $align-center;
    padding: 50px 0;
    @include body-md;
  }

  .error-message {
    color: $error;
  }
}

@media (max-width: 768px) {
  .hotel-detail-container {
    padding: 0 15px;
  }
} 