@use "../../../../styles/variables" as *;
@use "../../../../styles/global" as *;
@use "../../../../styles/text" as *;

.footer {
  background: $footer-bg;
  color: $text-dark;
  font-family: 'Inter', sans-serif;
  width: 100%;
  padding: 0;

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: unset;
    padding: 32px 60px 0 60px;
    background: $footer-bg;

    @media (max-width: 900px) {
      flex-direction: column;
      align-items: stretch;
      gap: 32px;
      padding: 24px 0 0 0;
    }
  }

  &__logo-social {
    flex: 1;
    min-width: 180px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;

    @media (max-width: 900px) {
      align-items: center;
      margin-bottom: 12px;
    }
  }

  &__logo {
    img {
      height: 200px;
    }
    margin-top: -70px;
    margin-left: -70px;
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 16px;
    a {
      color: $text-dark;
      @include body-md-alt;
      transition: color 0.2s;
      &:hover {
        color: $button-primary-hover;
      }
    }
  }

  &__links {
    display: flex;
    flex: 4;
    justify-content: space-between;
    gap: 32px;

    @media (max-width: 900px) {
      flex-direction: column;
      gap: 18px;
    }
  }

  &__col {
    min-width: 140px;

    @media (max-width: 600px) {
      min-width: 0;
    }
  }

  &__col-title {
    font-weight: $font-bold;
    @include body-base-alt;
    margin-bottom: 12px;
    color: $text-dark;
  }

  &__col ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__col li {
    @include body-base;
    color: $text-medium-alt;
    margin-bottom: 8px;
    cursor: pointer;
    transition: color 0.2s;
    &:hover {
      color: $button-primary-hover;
    }
  }
}

