@use "../../../../../styles/variables" as *;
@use "../../../../../styles/global" as *;

.profile-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .profile-content {
    flex: 1;
    padding-top: 70px; // Để tránh bị Navbar che mất nội dung
    background-color: $grey-light-alt;
  }
}

