@use "../../../styles/variables" as *;
@use "../../../styles/breakpoints.scss" as *;

.homepage-content {
  flex: 1;
  display: flex;
  flex-direction: column;

  // Intro section
  .intro-section {
    text-align: center;
    padding: 40px 0;
    margin-top: -10px;
    margin-bottom: 40px;
    max-height: 150px;

    h2 {
      font-size: 2.5rem;
      color: #333;
      margin-bottom: 20px;
    }

    p {
      font-size: 1.1rem;
      color: #666;
      max-width: 800px;
      margin: 0 auto;
      line-height: 1.6;
    }
  }
}

