@use "@/styles/variables" as *;
@use "@/styles/global" as *;
@use "@/styles/text" as *;
@use "@/styles/breakpoints" as *;

.homepage-content {
  flex: 1;
  display: flex;
  flex-direction: column;

  // Intro section
  .intro-section {
    text-align: $align-center;
    padding: 40px 0;
    margin-top: -10px;
    margin-bottom: 40px;
    max-height: 150px;

    h2 {
      @include heading-xl;
      color: $text-medium;
      margin-bottom: 20px;
    }

    p {
      @include body-base-alt;
      color: $text-light;
      max-width: 800px;
      margin: 0 auto;
      line-height: $line-relaxed;
    }
  }
}

