@use "@/styles/variables" as *;
@use "@/styles/global" as *;
@use "@/styles/text" as *;

.admin-layout {
  display: flex;
  min-height: 100vh;
  background-color: $admin-bg;
  position: relative;

  &.sidebar-collapsed {
    .content {
      margin-left: 80px;
    }
  }

  .content {
    margin-left: 250px;
    flex: 1;
    padding: 0;
    transition: margin-left 0.3s ease;
    display: flex;
    flex-direction: column;

    &-body {
      background: $bg-white;
      border-radius: 0;
      padding: 2rem;
      box-shadow: none;
      flex: 1;
    }
  }
}

@media (max-width: 768px) {
  .admin-layout {
    &.sidebar-collapsed .content {
      margin-left: 60px;
    }

    .content {
      margin-left: 200px;
      padding: 0;

      &-body {
        padding: 1rem;
      }
    }
  }
}

