@use '@/styles/variables' as *;
@use '@/styles/global' as *;
@use '@/styles/text' as *;

.loading-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  min-height: 200px;

  &__message {
    margin-top: 1rem;
    color: $text-light;
    @include body-sm;
  }

  .spinner {
    border: 4px solid $grey-light;
    border-top: 4px solid $blue-light;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }

  &--small .spinner {
    width: 30px;
    height: 30px;
    border-width: 3px;
  }

  &--large .spinner {
    width: 70px;
    height: 70px;
    border-width: 5px;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

