.loading-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  min-height: 200px;

  &__message {
    margin-top: 1rem;
    color: #666;
    font-size: 0.9rem;
  }

  .spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }

  &--small .spinner {
    width: 30px;
    height: 30px;
    border-width: 3px;
  }

  &--large .spinner {
    width: 70px;
    height: 70px;
    border-width: 5px;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

