@use '../styles/variables' as *;
@use '../styles/global' as *;
@use '../styles/text' as *;

.success-message {
  background-color: $status-success-bg;
  color: $status-success-text;
  padding: 1rem;
  border-radius: 5px;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-left: 4px solid $status-success-text;

  i {
    @include body-md;
  }

  span {
    flex: 1;
    @include body-base;
  }
}

