.slide {
  width: 100vw;  
  height: 50vh; 
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../public/assets/slide1.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: -80px;
}

.slide h1 {
  font-size: 40px;
  color: white;
}
