@use './global' as *;
@forward './text';

$main-font: 'svn-gilroy', serif;

@mixin shadow {
  box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.2);
}

@mixin buttonStyle {
  padding: 10px 15px;
  background-color: $button-primary;
  border: none;
  @include button-text;
  cursor: pointer;
  transition: 0.3s ease;
  color: $text-primary;
  border-radius: 10px;

  &:hover {
    background-color: $button-primary-hover;
  }
}

:export {
  pinkred: $pinkred;
  blue: $blue;
  lightgrey: $lightgrey;
  grey: $grey;
  darkgrey: $darkgrey;
  buttonPrimary: $button-primary;
  buttonPrimaryHover: $button-primary-hover;
}